html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

.logo {
  height: 1.5rem;
  padding-right: 1rem;
}

.company-info {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav li {
  padding-right: 2rem;
}

/* Hero */
.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}
